* {
    box-sizing: border-box;
  }

  h1{
    color: rgba(1, 90, 180, 1);
  }

  span{
      color: black;
      font-weight:bold;
  }

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
}

.location{
    grid-template-columns: auto auto auto;    
}

